<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva</title>
    <link rel="icon" href="/img/sena.png">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"rel="stylesheet"/>
  <link rel="stylesheet" href="../../css/historial.css">

</head>
<body>
    <%- include('../partials/view.nav.head.ejs')  %>

    <main class="container">

        <div class="opc__header">
            <h1>Historial de Reservas</h1>
            <div class="search">
                <input type="search" class="buscador" placeholder="Buscar">
            </div>
        </div>
        <!-- contenido donde se muestre la tabla o el contenido -->
        
        <div class="contenedor__Lista">
            <ul class="listas" id="data">
                <!-- <li>
                    <div class="cartas">
                        <div class="img__container">
                            <img src="../img/sena.png" alt="" width="100" height="100">
                            <p></p>
                            <p>ID</p>
                        </div>
                        <div class="info">
                            <h1>Nombre</h1>
                            <p>Estado</p>
                            <p>Area</p>
                            <p>Fecha</p>
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
        <input type="hidden" id="url" value="<%= url %>">

    </main>
    <script src="../js/hisreserva.js"></script>
</body>
</html>